<!DOCTYPE html>
<html>

<head>
    <!-- include CAPH 3.0.1 default package -->
    <link href="lib/caph/3.0.1/caph.min.css" rel="stylesheet" type="text/stylesheet">
    <link href="styles/main.css" rel="stylesheet" type="text/stylesheet">
    <!-- include jQuery file (you can use AngularJS & jQuery in your environment) -->
    <script src="lib/caph/3.0.1/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="lib/caph/3.0.1/bower_components/angular/angular.min.js" type="text/javascript"></script>
    <!-- include the CAPH Package for AngularJS -->
    <script src="lib/caph/3.0.1/caph-angular.min.js" type="text/javascript"></script>
    <!-- my Scripts -->
    <!-- <script src="scripts/controllers/myController.js"></script> -->
</head>
<script>
    var myApp = angular.module('myApp', ['caph.focus', 'caph.ui']);
    myApp.factory('sharedProperties', function(){
      var DEPTH={
        MAIN_MENU: 1,
        RESTAURANT: 2,
        MOVIES: 3,
        MOVIE_SELECT: 4
      };
      var currentDepth;
      var focus = function($event) {
        $($event.currentTarget).css({
          border: '10px solid red'
       });
      }

      var blur = function($event){
        $($event.currentTarget).css({
          border : '3px solid transparent'
       });
      }

      var select = function($event){
        if($event.target.id === "roomservice"){
          currentDepth = DEPTH.RESTAURANT;
        } else if($event.target.id === "vod"){
          currentDepth = DEPTH.MOVIES;
        } else if($event.target.id === "back"){
          currentDepth = DEPTH.MAIN_MENU;
        } else if($event.target.id === "fantasy"){
          currentDepth = DEPTH.MOVIE_SELECT;
        }
        return currentDepth;
      }

      return{
        focus: focus,
        blur: blur,
        select: select,
        currentDepth: currentDepth,
        depth: DEPTH
      }
    });

    	myApp.controller('myController', function($scope, sharedProperties) {
        $scope.currentDepth = sharedProperties.depth.MAIN_MENU;
        $scope.focus = function($event){
          sharedProperties.focus($event);
        }
        $scope.blur = function($event){
          sharedProperties.blur($event);
        }
        $scope.select = function($event){
          $scope.currentDepth = sharedProperties.select($event);
          console.log($scope.currentDepth);
        }
        $scope.items = [];
        for (var i = 0; i < 20; i++) {
          $scope.items.push({
            text: i+1,
            image: 'image/moviepics/' + (i%2 + 1) + '.jpg'
          });
        }
        $scope.onFocusItemView = function($context) {
  				console.log($context);
  			}
    	});

      myApp.controller('genreController', function($scope, sharedProperties){
        $scope.currentDepth = sharedProperties.depth.MOVIES;
        $scope.focus = function($event){
          sharedProperties.focus($event);
        }
        $scope.blur = function($event){
          sharedProperties.blur($event);
        }
        $scope.select = function($event){
          sharedProperties.currentDepth = sharedProperties.select($event);
        }
      });
</script>

<body ng-app="myApp">
    <div ng-controller="myController">
        <div ng-if="currentDepth === 1">
          <h1 class="mainHeader">Please Select an Option</h1>
          <div>
              <div focusable data-focusable-depth="0" data-focusable-initial-focus="true" on-focused="focus($event)" on-blurred="blur($event)" on-selected="select($event)" class="card" id="roomservice">
                  <img src="image/roomservice.png">
                  <br>Order your favorite meals, right from your room!
              </div>
              <div focusable data-focusable-depth="0" on-focused="focus($event)" on-blurred="blur($event)" on-selected="select($event)" class="card" id="vod">
                  <img src="image/vod.png">
                  <br>Select a movie from our extensive movie library!
              </div>
          </div>
        </div>
        <div ng-if="currentDepth === 3">
          <table>
            <tr>
              <td>
                <div focusable data-focusable-depth="0" on-focused="focus($event)" on-blurred="blur($event)" on-selected="select($event)" class="card" id="back">
                    <img src="image/Back.png">
                </div>
              </td>
                <td>
                    <h1 class="subHeader">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                      Pick a Genre</h1>
                </td>
            </tr>
              <tr>
                <td>
                  <div focusable data-focusable-depth="0" data-focusable-initial-focus="true" on-focused="focus($event)" on-blurred="blur($event)" on-selected="select($event)" class="card" id="fantasy">
                      <img src="image/Fantasy.png">
                      <h2>Fantasy</h2>
                  </div>
                </td>
                <td>
                  <div focusable data-focusable-depth="0" on-focused="focus($event)" on-blurred="blur($event)" on-selected="select($event)" class="card" id="thriller">
                      <img src="image/Thriller.png">
                      <h2>Thriller</h2>
                  </div>
                </td>
                <td>
                  <div focusable data-focusable-depth="0" on-focused="focus($event)" on-blurred="blur($event)" on-selected="select($event)" class="card" id="comedy">
                      <img src="image/Comedy.png">
                      <h2>Comedy</h2>
                  </div>
                </td>
              </tr>
          </table>
        </div>
        <div ng-if="currentDepth === 4">
          <h1>Pick a movie</h1>
          <div ng-include="'new.html'">
          </div>
        </div>
      </div>
    </div>
    <div ng-if="currentDepth === 2">
      <h1 class="subHeader">Food List!</h1>
    </div>
</body>

</html>
