@font-face {
    font-family: "SamsungSVD_Latin Light";
    src: url("fonts/SamsungSVDLight_Latin.ttf");
}

@font-face {
    font-family: "SamsungSVD_Latin Medium";
    src: url("fonts/SamsungSVDMedium_Latin.ttf");
}

body{
	background: radial-gradient(blue,black);
	color: white;
	font: 32px 'SamsungSVD_Latin Light';
	text-align: center;
}

img{
	border: thin;
}

.mainHeader {
	margin-top: 200px;
}

.subHeader{
  margin-top: 50px;
}

td{
  padding: 25px;
}

.list {
  position: absolute;
  width: 600px;
  height: 135px;
  overflow: hidden;
  margin-bottom: 10px;
  border: 1px solid transparent;
}

.item {
  background: green;
  box-sizing: border-box;
  border: 3px solid white;
  width: 200px;
  height: 135px;
}

.focused {
  border: 3px solid red;
}

.container{
  height: 200px;
}
